
/* Menu Toggle Button */

.MainNav .MenuToggleButton {
	visibility: visible;
	position: fixed;
	top: 4.5em;
	left: 0;
	z-index: 12;
}

/* Menu Toggle Button select area */

.MainMenu .MenuToggleButton-select-area {
	color: #ffab00;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 1.5em 0;
	-webkit-transition: all .3s .1s;
	-moz-transition: all .3s .1s;
	-ms-transition: all .3s .1s;
	-o-transition: all .3s .1s;
	transition: all .3s .1s;
	width: 6em;
}

.MainMenu.is-active .MenuToggleButton-select-area {
	color: #000000;
}

/* Menu Toggle Button icon */

.MainMenu .MenuToggleButton-select-area .icon {
	font-size: 2.25em;
}

.MainMenu .MenuToggleButton-select-area .icon--close,
.MainMenu.is-active .MenuToggleButton-select-area .icon--open {
	display: none;
}

.MainMenu.is-active .MenuToggleButton-select-area .icon--close {
	display: block;
}

/*  */

@media (min-width: 21em) {

	.MainMenu .MenuToggleButton-select-area {
		padding: 1.5em 0;
		width: 6em;
	}

	.MainMenu .MenuToggleButton-select-area .icon {
		font-size: 1.125em;
	}

}

@media (min-width: 48em) {

	body.is-home .MainNav .MenuToggleButton,
	body.is-transition .MainNav .MenuToggleButton,
	body.is-biting .MainNav .MenuToggleButton,
	body.is-starting .MainNav .MenuToggleButton {
		visibility: hidden;
	}

	.MainNav .MenuToggleButton {
		bottom: 0;
		position: fixed;
		left: 0;
		top: auto;
	}

	.MainMenu .MenuToggleButton-select-area {
		padding: 1.5em 0;
		width: 6em;
	}

	.MainMenu .MenuToggleButton-select-area .icon {
		font-size: 1.5em;
	}

}