
/* Page */

.Page {
	display: none;
	flex: 1;
	-webkit-flex-flow: column;
	flex-flow: column;
	-webkit-justify-content: center;
	justify-content: center;
	min-width: 100%;
}

.Page.is-active,
body.is-home .Page {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

/* Page content */

.Page-content {
	width: 100%;
	display: none;
}

.Page.is-active .Page-content {
	display: block;
}

.Page--winery .Page-content,
.Page--castle .Page-content {
	font-family: 'Playfair Display', serif;
}

@media (min-width: 48em) {

	.Page {
		min-width: 0;
	}

}

@media (min-width: 72em) {

	/* Page */

	.Page {
		-webkit-align-items: center;
		align-items: center;
		-webkit-flex-flow: column;
		flex-flow: column;
	}

}