/* Page Header */

.PageHeader {
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	position: relative;
	padding: 1em;
	width: 100%;
}

.Page.is-active .PageHeader {
	display: none;
}

/* Page title */

.PageHeader-title {
	padding: 1em;
	position: relative;
	max-width: 14em;
}

.Page--winemenu .PageHeader-title:before {
	border-left: solid .75em #ad1457;
	border-top: solid .75em #ad1457;
	content: '';
	height: 1.5em;
	left: 0;
	position: absolute;
	top: 0;
	width: 1.5em;
}

.Page--winery .PageHeader-title:before {
	border-top: solid .75em #ffee58;
	content: '';
	height: 1.5em;
	position: absolute;
	right: 25%;
	top: 0;
	width: 4em;
}

.Page--castle .PageHeader-title:before {
	border-bottom: solid .75em #ffab00;
	border-right: solid .75em #ffab00;
	bottom: 0;
	content: '';
	height: 2.25em;
	right: 0;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	width: 4.5em;
}

@media (min-width: 48em) {

	.PageHeader {
		height: 100vh;
		-webkit-transition: background 2.25s;
		-moz-transition: background 2.25s;
		-ms-transition: background 2.25s;
		-o-transition: background 2.25s;
		transition: background 2.25s;
		z-index: 0;
	}

	.PageHeader.is-over {
		z-index: 1;
	}

	/* Page Header background */

	.PageHeader-background {
		display: none;
		left: 0;
		height: 100%;
		top: 0;
		visibility: hidden;
		width: 100%;
	}

	.PageHeader-overlay {
		top: 0;
		left: 0;
		height: 100%;
		position: absolute;
		width: 100%;
		-webkit-transition: background .6s;
		-moz-transition: background .6s;
		-ms-transition: background .6s;
		-o-transition: background .6s;
		transition: background .6s;
	}

	.PageHeader:hover .PageHeader-overlay {
		background-color: rgba(0,0,0,.24);
		-webkit-transition: background 1s;
		-moz-transition: background 1s;
		-ms-transition: background 1s;
		-o-transition: background 1s;
		transition: background 1s;
	}

	.PageHeader-title {
		-webkit-transform: scale(.84);
		-moz-transform: scale(.84);
		-ms-transform: scale(.84);
		-o-transform: scale(.84);
		transform: scale(.84);
		-webkit-transition: transform .6s, color .6s;
		-moz-transition: transform .6s, color .6s;
		-ms-transition: transform .6s, color .6s;
		-o-transition: transform .6s, color .6s;
		transition: transform .6s, color .6s;
	}

	.PageHeader:hover .PageHeader-title {
		color: #ffffff;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}

}

@media (min-width: 72em) {

	.Page h3 {
		line-height: 1.16;
	}

	.PageHeader-title {
		padding: 2.25em;
		max-width: 24em;
	}

	.Page--winemenu .PageHeader-title:before {
		border-left: solid 1em #ad1457;
		border-top: solid 1em #ad1457;
		content: '';
		height: 1.5em;
		left: 0;
		position: absolute;
		top: 0;
		width: 1.5em;
	}

	.Page--winery .PageHeader-title:before {
		border-top: solid 1em #ffee58;
		content: '';
		height: 1.5em;
		position: absolute;
		right: 25%;
		top: 0;
		width: 4em;
	}

	.Page--castle .PageHeader-title:before {
		border-bottom: solid 1em #ffab00;
		border-right: solid 1em #ffab00;
		bottom: 0;
		content: '';
		height: 2.25em;
		right: 0;
		position: absolute;
		margin: 0 auto;
		text-align: center;
		width: 4.5em;
	}

}