
/* Photo Article Cover */

.PhotoArticleCoverContent,
.PhotoArticleCoverHeader {
	position: relative;
	width: 100%;
}

/* Photo Article Cover Content */

.PhotoArticleCoverContent {
	text-align: center;
}

/* Photo Article Cover Header */

.PhotoArticleCoverHeader {
	height: 100vh;
}

/* Photo Article Cover inner */

.PhotoArticleCoverContent-inner,
.PhotoArticleCoverHeader-inner {
	padding: 1em;
}

/* Photo Article Cover background */

.PhotoArticleCover-background {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Photo Article Cover overlay */

.PhotoArticleCover-overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.18+72,0.36+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.18) 72%, rgba(0,0,0,0.36) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 72%,rgba(0,0,0,0.36) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.18) 72%,rgba(0,0,0,0.36) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#5c000000',GradientType=0 ); /* IE6-9 */
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Photo Article Cover Header h3 */

.PhotoArticleCoverHeader h3 {
	font-size: 3.75em;
	font-weight: 700;
}

/* Photo Article Cover Header inner */

.PhotoArticleCoverHeader-inner {
	-webkit-align-items: flex-end;
	align-items: flex-end;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	padding-bottom: 8em;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* Photo Article Cover Header figure */

.PhotoArticleCoverHeader-figure {
	/*background-attachment: fixed;*/
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}

.PhotoArticleCover--winery .PhotoArticleCoverHeader-figure {
	background-image: url("../img/largePhotos/lp-brasao.jpg");
	background-position: center 100%;
}

.PhotoArticleCover--castle .PhotoArticleCoverHeader-figure {
	background-image: url("../img/widePhotos/wp-castle-02.jpg");
	background-position: 36% 0;
}

/* Photo Article Cover Header figure img */

.PhotoArticleCoverHeader-figure img {
	display: none;
}

@media (min-width: 48em) {

	/* Photo Article Cover Header h3 */

	.PhotoArticleCoverHeader h3 {
		font-size: 8em;
	}

	/* Photo Article Cover Header inner */

	.PhotoArticleCoverHeader-inner {
		padding-bottom: 8em;
	}

}

@media (min-width: 72em) {

	/* Photo Article Cover Header inner */

	.PhotoArticleCoverHeader-inner {
		padding-bottom: 3em;
	}

}

@media (min-width: 96em) {

	/* Photo Article Cover Header h3 */

	.PhotoArticleCoverHeader h3 {
		font-size: 10em;
	}

	/* Photo Article Cover Header inner */

	.PhotoArticleCoverHeader-inner {
		padding-bottom: 6em;
	}

}