
/* Photo Article */

.PhotoArticle {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	position: relative;
	width: 100%;
}

.PhotoArticle-figure {
	width: 100%;
}

.PhotoArticle-figure img {
	display: block;
	height: 100%;
	width: 100%;
}

/* Photo Article Content */

.PhotoArticleContent {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-flow: column;
	flex-flow: column;
	width: 100%;
}

.PhotoArticleCover .PhotoArticleContent {
	text-align: center;
}

/* Photo Article Content h4 */

.PhotoArticleContent h4 {
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.36;
	margin-bottom: .75em;
}

/* Photo Article Content p */

.PhotoArticleContent p {
	font-size: 1.125em;
	line-height: 1.6;
	margin-bottom: 1em;
}

/* Photo Article Content inner */

.PhotoArticleContent-inner {
	padding: 2.25em;
	width: 100%;
}

@media (min-width: 48em) {

	/* Photo Article */

	.PhotoArticle {
		-webkit-align-items: stretch;
		align-items: stretch;
		-webkit-flex-flow: row;
		flex-flow: row;
	}

	.PhotoArticle--left {
		-webkit-flex-flow: row;
		flex-flow: row;
	}

	.PhotoArticle--right {
		-webkit-flex-flow: row-reverse;
		flex-flow: row-reverse;
	}

	.PhotoArticle--wide {
		-webkit-flex-flow: column;
		flex-flow: column;
	}

    .PhotoArticle--wide-reverse {
	    -webkit-flex-flow: column-reverse;
	    flex-flow: column-reverse;
    }

	/* Photo Article figure */

	.PhotoArticle-figure {
		-webkit-align-items: center;
		align-items: center;
		background-size: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-flow: column;
		flex-flow: column;
		position: relative;
		width: 50%;
	}

	.PhotoArticle--left .PhotoArticle-figure,
	.PhotoArticle--right .PhotoArticle-figure {
		min-height: 0;
	}

	.PhotoArticle--wide .PhotoArticle-figure,
	.PhotoArticle--wide-reverse .PhotoArticle-figure {
		height: auto;
		min-height: 0;
		width: 100%;
	}

	/* Photo Article figure img */

	.PhotoArticle-figure img {
		display: block;
		width: 100%;
	}

	/* Photo Article figure img */

	.PhotoArticle-figure figcaption {
		bottom: 0;
		left: 0;
		margin: 0 0 1em;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	/* Photo Article Content */

	.PhotoArticleContent {
		-webkit-align-items: center;
		align-items: center;
		background-color: inherit;
		color: inherit;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-flow: column;
		flex-flow: column;
		width: 50%;
	}

	.PhotoArticleCover .PhotoArticleContent,
	.PhotoArticle--wide .PhotoArticleContent,
	.PhotoArticle--wide-reverse .PhotoArticleContent {
		width: 100%;
	}

	.PhotoArticleContent--bridge {
		text-align: center;
	}

	/* Photo Article Content inner */

	.PhotoArticleContent-inner {
		padding: 2.25em;
	}

	.PhotoArticleCover .PhotoArticleContent-inner,
	.PhotoArticleContent--bridge .PhotoArticleContent-inner {
		padding: 3em 2.25em;
	}

	/* Photo Article header and text */

	.PhotoArticleContent-header,
	.PhotoArticle-text {
		margin: 0 auto;
		width: 100%;
		max-width: 18em;
	}

	.PhotoArticleCover .PhotoArticleContent-header,
	.PhotoArticleCover .PhotoArticle-text,
	.PhotoArticle--wide .PhotoArticleContent-header,
	.PhotoArticle--wide .PhotoArticle-text,
	.PhotoArticle--wide-reverse .PhotoArticleContent-header,
	.PhotoArticle--wide-reverse .PhotoArticle-text {
		max-width: 36em;
	}

	.PhotoArticleContent--intro .PhotoArticleContent-header,
	.PhotoArticleContent--intro .PhotoArticle-text {
		width: 100%;
	}

	.PhotoArticleContent--intro .PhotoArticleContent-header {
		display: none;
	}

	/* Photo Article Content h4 */

	.PhotoArticleContent h4 {
		font-size: 3em;
		line-height: 1.36;
	}

}

@media (min-width: 72em) {

	/* Photo Article */

	.PhotoArticle h1 {
		font-size: 3em;
	}

	/* Photo Article Content inner */

	.PhotoArticleContent-inner {

	}

	/* Photo Article header and text */

	.PhotoArticleContent-header,
	.PhotoArticle-text {
		max-width: 24em;
	}

	.PhotoArticleCover .PhotoArticleContent-header,
	.PhotoArticleCover .PhotoArticle-text,
	.PhotoArticle--wide .PhotoArticleContent-header,
	.PhotoArticle--wide .PhotoArticle-text,
	.PhotoArticle--wide-reverse .PhotoArticleContent-header,
	.PhotoArticle--wide-reverse .PhotoArticle-text {
		max-width: 48em;
	}

	.PhotoArticleContent-header {
		margin-bottom: 1.5em;
	}

	/* Photo Article Content h4 */

	.PhotoArticleContent h4 {
		font-size: 3.75em;
		line-height: 1.36;
	}

	/* Photo Article Content p */

	.PhotoArticleContent p {
		font-size: 1.3125em;
		line-height: 1.96;
	}

}

@media (min-width: 96em) {

	/* Photo Article header and text */

	.PhotoArticleContent-header,
	.PhotoArticle-text {
		max-width: 30em;
	}

	.PhotoArticleCover .PhotoArticleContent-header,
	.PhotoArticleCover .PhotoArticle-text,
	.PhotoArticle--wide .PhotoArticleContent-header,
	.PhotoArticle--wide .PhotoArticle-text,
	.PhotoArticle--wide-reverse .PhotoArticleContent-header,
	.PhotoArticle--wide-reverse .PhotoArticle-text {
		max-width: 60em;
	}



	.PhotoArticleContent-header {
		margin-bottom: 1.5em;
	}

	/* Photo Article Content h4 */

	.PhotoArticleContent h4 {
		font-size: 3.75em;
		line-height: 1.36;
	}

	/* Photo Article Content p */

	.PhotoArticleContent p {
		font-size: 1.5em;
		line-height: 2.1;
	}

	/* Photo Article Content inner */

	.PhotoArticleCover .PhotoArticleContent-inner,
	.PhotoArticleContent--bridge .PhotoArticleContent-inner,
	.PhotoArticle--wide .PhotoArticleContent-inner,
	.PhotoArticle--wide-reverse .PhotoArticleContent-inner {
		padding: 4.5em 2.25em;
	}

}