/* Wine Resume */

.WineResume {
  margin: 0 0 2.25em;
}

.WineFooter .WineResume {
  display: none;
}

/* Wine Resume List */

.WineResumeList {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  min-height: 40px;
}

/* Wine Resume Item */

.WineResumeItem {
  width: 33.3333333333%;
  margin: 0 0 2.25em;
}

/* Wine Resume Item select area */

.WineResumeItem-select-area {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}

/* Wine Resume Item header */

.WineResumeItem-header {
  -webkit-align-items: center;
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 3em;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 0.75em;
  width: 3em;
}

.WineResumeItem-header span {
  font-size: 1.125em;
}

/* Wine Resume Item title */

.WineResumeItem-title {
  white-space: nowrap;
  text-transform: uppercase;
}

.WineResumeItem-title span {
  font-size: 0.875em;
  font-weight: 400;
  letter-spacing: 1pt;
}

/* Wine Resume media width */

@media (min-width: 48em) {
  /* Wine Resume */

  .WineResume {
    margin: 0 0 0.5em;
  }

  .WineHeader .WineResume {
    max-width: 14em;
  }

  /* Wine Resume Item */

  .WineResumeItem {
    margin: 0 0 1em;
    width: 50%;
  }

  .WineHeader .WineResumeItem {
    margin: 0 0 2.25em;
  }

  .WineResumeItem-header {
    border-width: 1px;
    height: 3em;
    margin-bottom: 0.5em;
    width: 3em;
  }

  .WineHeader .WineResumeItem-header {
    height: 3.75em;
    width: 3.75em;
  }

  .WineResumeItem-header span {
    font-size: 1em;
  }

  .WineHeader .WineResumeItem-header span {
    font-size: 1.125em;
  }

  .WineResumeItem-title span {
    letter-spacing: 0.1pt;
    font-size: 0.875em;
    font-weight: 600;
  }
}

@media (min-width: 60em) {
  /* Wine Resume Item */

  .WineHeader .WineResume {
    max-width: 16em;
  }

  .WineHeader .WineResumeItem {
    margin: 0 0 1.5em;
    width: 3.75em;
  }

  .WineHeader .WineResumeItem-header {
    height: 3em;
    width: 3em;
  }

  .WineHeader .WineResumeItem-header span {
    font-size: 1em;
  }
}

@media (min-width: 72em) {
  /* Wine Resume */

  .WineResume {
    margin: 0 0 1em;
  }

  .WineHeader .WineResume {
    max-width: 18em;
  }

  /* Wine Resume Item */

  .WineResumeItem,
  .WineHeader .WineResumeItem {
    width: 4.5em;
  }

  .WineHeader .WineResumeItem-header {
    height: 3em;
    width: 3em;
  }

  .WineHeader .WineResumeItem-header span {
    font-size: 1.125em;
  }
}

@media (min-width: 96em) {
  .WineResume {
    margin: 0 0 1.5em;
  }

  .WineHeader .WineResume {
    max-width: 24em;
  }

  .WineHeader .WineResumeItem {
    width: 6em;
  }

  .WineResumeItem-header {
    border-width: 1px;
    height: 3.75em;
    margin-bottom: 1em;
    width: 3.75em;
  }

  .WineResumeItem-header span {
    font-size: 1.125em;
  }

  .WineResumeItem-title span {
    font-size: 1em;
  }
}
