/* Wine Figure */

.WineFigure {
	height: 24em;
	margin: 0 0 3.75em;
}

.Wine.is-expanded .WineFigure { }

/* Wine Figure wrappper */

.WineFigure-wrapper {
	background-color: #eeeeee;
	height: 100%;
	padding: 1.5em 0;
	width: 100%;
}

/* Wine Figure img */

.WineFigure-img {
	margin: 0 auto;
	display: block;
	height: 100%;
}

/* Wine Figure media width */

@media (min-width: 48em) {

	/* Wine Figure */

	.WineFigure {
		height: 100%;
		margin: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: -1;
	}

	/* Wine Figure wrappper */

	.WineFigure-wrapper {
		background: none;
		padding: 10em 0;
		-webkit-transition: transform .6s;
		-moz-transition: transform .6s;
		-ms-transition: transform .6s;
		-o-transition: transform .6s;
		transition: transform .6s;
		-webkit-transform: translateX(25%);
		-moz-transform: translateX(25%);
		-ms-transform: translateX(25%);
		-o-transform: translateX(25%);
		transform: translateX(25%);
	}

	.Wine.is-expanded .WineFigure-wrapper {
	    -webkit-transform: translateX(3.333333333%); /* ( headerWidth − ( 100 ÷ 3 ) ) ÷ 2 */
	    -moz-transform: translateX(3.333333333%); /* ( headerWidth − ( 100 ÷ 3 ) ) ÷ 2 */
	    -ms-transform: translateX(3.333333333%); /* ( headerWidth − ( 100 ÷ 3 ) ) ÷ 2 */
	    -o-transform: translateX(3.333333333%); /* ( headerWidth − ( 100 ÷ 3 ) ) ÷ 2 */
	    transform: translateX(3.333333333%); /* ( headerWidth − ( 100 ÷ 3 ) ) ÷ 2 */
    }

}

/* Wine Figure media exception for tablets */

@media (min-width: 48em) and (max-width: 60em) and (min-height: 60em) {

	/* Wine Figure */

	.WineFigure {
		-webkit-transition: height .6s;
		-moz-transition: height .6s;
		-ms-transition: height .6s;
		-o-transition: height .6s;
		transition: height .6s;
	}

	.Wine.is-expanded .WineFigure {
		height: 40%;
		top: 0;
	}

	/* Wine Figure wrappper */

	.WineFigure-wrapper {
		-webkit-transition: padding .6s .0s, transform .6s;
		-moz-transition: padding .6s .0s, transform .6s;
		-ms-transition: padding .6s .0s, transform .6s;
		-o-transition: padding .6s .0s, transform .6s;
		transition: padding .6s .0s, transform .6s;
		padding: 8em 0 12em;
	}

	.Wine.is-expanded .WineFigure-wrapper {
		padding: 2.25em 0;
	}

	.Wine.is-expanded .WineFigure-wrapper {
		-webkit-transform: translateX(25%);
		-moz-transform: translateX(25%);
		-ms-transform: translateX(25%);
		-o-transform: translateX(25%);
		transform: translateX(25%);
	}

}

@media (min-width: 60em) {

	/* Wine Figure wrappper */

	.WineFigure-wrapper {
		padding: 8em 0 12em;
	}

}

@media (min-width: 72em) {

	/* Wine Figure wrappper */

	.WineFigure-wrapper {
		padding: 6em 0;
	}

	.Wine.is-expanded .WineFigure-wrapper {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}

}

@media (min-width: 96em) {

	/* Wine Figure wrappper */

	.WineFigure-wrapper {
		padding: 8em 0;
	}

}