Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule home$ ./navigation.html
RewriteRule vinhos$ ./navigation.html
RewriteRule vinicola$ ./navigation.html
RewriteRule castelo$ ./navigation.html