
/* Main */

.Main {
	position: relative;
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity 1.2s, transform .8s;
	-moz-transition: opacity 1.2s, transform .8s;
	-ms-transition: opacity 1.2s, transform .8s;
	-o-transition: opacity 1.2s, transform .8s;
	transition: opacity 1.2s, transform .8s;
}

body.is-starting .Main {
	opacity: 0;
	-webkit-transform: translateY(1em);
	-moz-transform: translateY(1em);
	-ms-transform: translateY(1em);
	-o-transform: translateY(1em);
	transform: translateY(1em);
}

html.is-debug .Main {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

/* Main content */

.Main-content {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column;
	flex-flow: column;
	height: 100%;
	padding: 8em 0 0;
	position: relative;
	width: 100%;
}

body.is-castle .Main-content,
body.is-winery .Main-content,
body.is-local .Main-content {
	padding: 0;
}

@media (min-width: 48em) {

	.Main {
		min-height: 100vh;
	}

	.Main-content {
		-webkit-flex-flow: row;
		flex-flow: row;
		padding: 0;
	}

}

@media (min-width: 72em) {

	body.is-home .Main-content {
		height: 100vh;
		padding: 0 0 0 8em;
	}

}