/* Wine Header */

.WineHeader {
	width: 100%;
	padding: 2.25em 0 0;
}

.Wine.is-expanded .WineHeader {  }

/* Wine Header Background and Inner */

.WineHeader-background,
.WineHeader-inner {  }

/* Wine Header background */

.WineHeader-background {  }

/* Wine Header inner */

.WineHeader-inner {  }

/* Wine Header title */

.WineHeader-title {
	margin: 0 0 2.25em;
}

.WineHeader-title h4 {
	font-size: 1.3125em;
	line-height: 1;
	font-weight: 100;
}

.WineHeader-title h4 br {
	display: none;
}

.WineHeader-title .brand {
	display: block;
	font-size: .875em;
	font-weight: 100;
	line-height: 1.3;
	margin: 0 0 6pt 2pt;
}

.WineHeader-title .name {
	display: block;
	font-size: 1.3125em;
	font-weight: 900;
	letter-spacing: 3px;
	line-height: 1.06;
}

/* Wine Header description */

.WineHeader-short-description {
	font-family: 'Crimson Text', serif;
	width: 100%;
	margin: 0 0 3em;
}

.WineHeader-short-description p {
	font-size: 1.125em;
	font-size-adjust: none;
	font-style: italic;
	font-weight: 400;
	line-height: 1.8;
}

.WineHeader-short-description p:before {
	content: '"...';
	letter-spacing: .5pt;
}

.WineHeader-short-description p:after {
	content: '"';
	margin-left: 2.25pt;
}

/* Wine Header media width */

@media (max-width: 36em) {

	.WineHeader {
		color: inherit;
		width: 100%;
		padding: 2.25em 0 0;
	}

}

@media (min-width: 48em) {

	/* Wine Header */

	.WineHeader {
		-webkit-box-shadow: 1px 0 6px rgba(0,0,0,.24);
		-moz-box-shadow: 1px 0 6px rgba(0,0,0,.24);
		box-shadow: 1px 0 6px rgba(0,0,0,.24);
		height: 100%;
		position: absolute;
		-webkit-transition: width .6s;
		-moz-transition: width .6s;
		-ms-transition: width .6s;
		-o-transition: width .6s;
		transition: width .6s;
		width: 75%;
	}

	.Wine.is-expanded .WineHeader {
		width: 40%;
	}

	/* Wine Header Background and Inner */

	.WineHeader-background,
	.WineHeader-inner {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	/* Wine Header background */

	.WineHeader-background {
		width: 100%;
		height: 100%;
	}

	/* Wine Header inner */

	.WineHeader-inner {
		-webkit-transition: padding .6s;
		-moz-transition: padding .6s;
		-ms-transition: padding .6s;
		-o-transition: padding .6s;
		transition: padding .6s;
		padding: 3.75em 1.5em 0 6em;
	}

	.Wine.is-expanded .WineHeader-inner {
		padding: 3.75em 1.5em 0 4.5em;
	}

	/* Wine Header title */

	.WineHeader-title {
		margin: 0 0 2.25em;
	}

	.WineHeader-title h4 {
		font-size: 2.25em;
		line-height: 1.3;
	}

	.WineHeader-title h4 br {
		display: inherit;
	}

	.WineHeader-title .brand {
		font-size: .75em;
		line-height: 1.3;
	}

	.WineHeader-title .name {
		font-size: 1.125em;
		line-height: 1.06;
	}

	/* Wine Header description */

	.WineHeader-short-description {
		max-width: 14em;
		margin: 0 0 3em;
	}

	.WineHeader-short-description p {
		font-size: 1em;
		line-height: 1.48;
	}

}

@media (min-width: 48em) and (max-width: 60em) and (min-height: 60em) {

	/* Wine Header */

	.Wine.is-expanded .WineHeader {
		width: 50%;
	}

	/* Wine Header title */

	.WineHeader-title h4 {
		font-size: 2.25em;
	}

	/* Wine Header description */

	.WineHeader-short-description {
		max-width: 18em;
		margin: 0 0 3em;
	}

}

@media (min-width: 60em) {

	/* Wine Header inner */

	.WineHeader-inner {
		padding: 3em 1.5em 0 6em;
	}

	.Wine.is-expanded .WineHeader-inner {
		padding: 3em 1.5em 0 6em;
	}

	/* Wine Header title */

	.WineHeader-title {
		margin: 0 0 1.125em;
	}

	.WineHeader-title h4 {
		line-height: 1;
		font-size: 2.25em;
	}

	.WineHeader-title .brand {
		font-size: .75em;
		line-height: 1.3;
	}

	.WineHeader-title .name {
		font-size: 1.125em;
		line-height: 1.06;
	}

	/* Wine Header description */

	.WineHeader-short-description {
		max-width: 16em;
		margin: 0 0 1.5em;
	}

	.WineHeader-short-description p {
		line-height: 1.6;
	}

}

@media (min-width: 72em) {

	/* Wine Header */

	.Wine.is-expanded .WineHeader {
		width: 33.3333333%;
	}

	/* Wine Header inner */

	.WineHeader-inner {
		padding: 3em 1em 0 8em;
	}

	.Wine.is-expanded .WineHeader-inner {
		padding: 3em 1em 0 6em;
	}

	/* Wine Header title */

	.WineHeader-title {
		margin: 0 0 1.5em;
		max-width: 21em;
	}

	.WineHeader-title h4 {
		line-height: 1;
		font-size: 3em;
	}

    .WineHeader-title .brand {
	    font-size: .75em;
	    line-height: 1.3;
    }

    .WineHeader-title .name {
	    font-size: 1.125em;
	    line-height: 1.06;
    }

	/* Wine Header description */

	.WineHeader-short-description {
		max-width: 18em;
	}

	.WineHeader-short-description p {
		font-size: 1.125em;
		line-height: 1.72;
	}

}

@media (min-width: 96em) {

	/* Wine Header inner */

	.WineHeader-inner {
		padding: 4.5em 1.5em 0 12em;
	}

	.Wine.is-expanded .WineHeader-inner {
		padding: 4.5em 1.5em 0 6em;
	}

	/* Wine Header title */

	.WineHeader-title {
		margin: 0 0 2.25em;
		max-width: 24em;
	}

    .WineHeader-title h4 {
	    font-size: 3.75em;
    }

	/* Wine Header description */

	.WineHeader-short-description {
		padding: 0;
		max-width: 24em;
		margin: 0 0 3em;
	}

	.WineHeader-short-description p {
		font-size: 1.125em;
		line-height: 1.96;
	}

}