Options +FollowSymLinks
RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule home$ ./index.html
RewriteRule vinhos$ ./index.html
RewriteRule vinicola$ ./index.html
RewriteRule castelo$ ./index.html
RewriteRule contato$ ./index.html
RewriteRule como-chegar$ ./index.html