/* Wine Footer */

.WineFooter {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-flow: column;
	flex-flow: column;
	padding-right: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	-ms-transition: all .6s;
	-o-transition: all .6s;
	transition: all .6s;
	width: 100%;
}

/* Wine Footer media */

@media (min-width: 48em) {

	/* Wine Footer */

	.WineFooter {
		height: 100%;
		left: 100%;
		overflow-y: auto;
		padding: 3em 0 2.25em;
		position: absolute;
		width: 33.333333333%;
	}

	.Wine.is-active .WineFooter {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

}

@media (min-width: 60em) {

	.WineFooter {
		padding: 3em 1em 2.25em;
	}

}

@media (min-width: 72em) {

	.WineFooter {
		padding: 4.5em 1.5em 3em;
	}

}

@media (min-width: 96em) {

	.WineFooter {
		padding: 8em 2.25em 3em;
	}

}