/* Wine Content */

.WineContent {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Wine Content Background and Inner */

.WineContent-background,
.WineContent-inner {
	position: absolute;
	width: 100%;
	height: 100%;
}