
/* Wine Info Table */

.WineTable {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0 0 3em;
	width: 100%;
}

/* Wine Info Table Cell */

.WineTable-cell {
	border-style: solid;
	border-width: 1px;
	margin: -1px 0 0 -1px;
	flex: 1;
	padding: .675em 1.3125em .75em;
	text-align: left;
}

.WineTable-cell p {
	font-size: .875em;
}

/* Wine Info Table cell alternative sizes */

.WineTable-cell--fourth,
.WineTable-cell--third {
	min-width: 50%;
}

.WineTable-cell--half,
.WineTable-cell--full {
	min-width: 100%;
}

/* Wine Info Table media width */

@media (min-width: 48em) {

	.WineTable {
		margin: 0 0 1em;
		padding: 0;
	}

	.WineFooter .WineTable {
		opacity: 1;
		-webkit-transition: opacity .8s 0s, transform .4s 0s;
		-moz-transition: opacity .8s 0s, transform .4s 0s;
		-ms-transition: opacity .8s 0s, transform .4s 0s;
		-o-transition: opacity .8s 0s, transform .4s 0s;
		transition: opacity .8s 0s, transform .4s 0s;
	}

	.Wine.is-animated .WineTable {
		opacity: 0;
		-webkit-transform: translateX(2.25em);
		-moz-transform: translateX(2.25em);
		-ms-transform: translateX(2.25em);
		-o-transform: translateX(2.25em);
		transform: translateX(2.25em);
		-webkit-transition: all 0s 0s;
		-moz-transition: all 0s 0s;
		-ms-transition: all 0s 0s;
		-o-transition: all 0s 0s;
		transition: all 0s 0s;
	}

	.WineTable-cell {
		border-style: solid;
		border-width: 1px;
		margin: -1px 0 0 -1px;
		flex: 1;
		padding: .5em 1em;
		text-align: left;
	}

}

@media (min-width: 60em) {

	.WineTable-cell--fourth {
		min-width: 25%;
	}

	.WineTable-cell--third {
		min-width: 33.33333333%;
	}

	.WineTable-cell--half {
		min-width: 50%;
	}

}

@media (min-width: 96em) {

	.WineTable-cell {
		padding: .75em 1.125em;
	}

	.WineTable-cell p {
		font-size: 1em;
	}

}