/* Wine */

.Wine {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

@media (min-width: 48em) {

	/* Wine */

	.Wine {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;
	}

}