/* Wine */

.Wine {
	overflow-x: hidden;
	padding: 0 1.5em 3.75em;
	position: relative;
	width: 100%;
}

/* Wine media width */

@media (min-width: 48em) {

	/* Wine */

	.Wine {
		background: none;
		height: 100vh;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 100%;
	}

}