@media (min-width: 96em) {

	.WineShowMore {
		background-color: red;
		bottom: 0;
		right: 1em;
		padding: 0 0 3.75em;
		position: absolute;
	}

	.WineShowMore-select-area {
		background-color: #424242;
		display: block;
		height: 4.5em;
		width: 4.5em;
	}

}