
/* Wine Show More button */

/* Wine Show More */

.WineShowMore {
	display: none;
}

/* Wine Footer media width */

@media (min-width: 48em) {

	/* Wine Show More */

	.WineShowMore {
		bottom: 0;
		display: block;
		margin: 0 2.25em 0 0; /* Location */
		padding: 0 0 2.25em; /* Location */
		position: absolute;
		right: 0; /* Location */
	}

	.Wine.is-expanded .WineShowMore {
		margin: 0 -3em 0 0; /* Size - a little minor size */
		right: 60%; /* Location */
	}

	/* Wine Show More select area */

	.WineShowMore-select-area {
		-webkit-align-items: center;
		align-items: center;
		cursor: pointer;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		height: 3.75em;
		outline: 0;
		position: relative;
		width: 3.75em;
	}

	/* Wine Show More Title */

	.WineShowMoreTitle {
		-webkit-align-items: center;
		align-items: center;
		padding: 0 .625em 0 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		opacity: 0;
		position: absolute;
		left: 0;
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: opacity 0s;
		-moz-transition: opacity 0s;
		-ms-transition: opacity 0s;
		-o-transition: opacity 0s;
		transition: opacity 0s;
		top: 0;
		height: 100%;
		visibility: hidden;
		white-space: nowrap;
	}

	.WineShowMore-select-area:hover .WineShowMoreTitle {
		opacity: 1;
		-webkit-transition: opacity .6s;
		-moz-transition: opacity .6s;
		-ms-transition: opacity .6s;
		-o-transition: opacity .6s;
		transition: opacity .6s;
		visibility: visible;
	}

	.WineShowMoreTitle-text {
		display: none;
		font-size: .75em;
		font-weight: 600;
		letter-spacing: -.15pt;
		text-transform: uppercase;
	}

	.WineShowMoreTitle-text--closed {
		display: block;
	}

	.Wine.is-expanded .WineShowMoreTitle-text--closed {
		display: none;
	}

	.Wine.is-expanded .WineShowMoreTitle-text--opened {
		display: block;
	}

	/* Wine Show More Button */

	.WineShowMoreButton {
		border-style: solid;
		border-width: 2px;
		border-color: rgba(0,0,0,1);
		background-color: rgba(0,0,0,0);
		border-radius: 50%;
		height: 100%; /* Size */
		left: 0;
		position: absolute;
		top: 0;
		width: 100%; /* Size */
	}

	.Wine.is-expanded .WineShowMoreButton {
		border-color: rgba(0,0,0,0);
		background-color: rgba(0,0,0,0);
	}

	.Wine.is-animated .WineShowMoreButton {
		border-color: rgba(0,0,0,0);
		background-color: rgba(0,0,0,0);
	}

	.WineShowMore-select-area:hover .WineShowMoreButton {
		border-color: rgba(0,0,0,1);
		background-color: rgba(0,0,0,1);
		opacity: 1;
	}

	.WineShowMore-select-area:focus .WineShowMoreButton {
		outline: dotted 1px rgba(0,0,0,.28);
	}

	/* Wine Show More Icon */

	.WineShowMoreIcon {
		-webkit-align-items: center;
		align-items: center;
		color: #424242;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		height: 100%; /* Size */
		-webkit-justify-content: center;
		justify-content: center;
		left: 0;
		opacity: 1;
		position: absolute;
		top: 0;
		-webkit-transition: opacity .4s;
		-moz-transition: opacity .4s;
		-ms-transition: opacity .4s;
		-o-transition: opacity .4s;
		transition: opacity .4s;
		width: 100%; /* Size */
	}

	.Wine.is-expanded .WineShowMoreIcon {
		color: #757575;
		opacity: 1;
		-webkit-transition: opacity 3.75s ease-out;
		-moz-transition: opacity 3.75s ease-out;
		-ms-transition: opacity 3.75s ease-out;
		-o-transition: opacity 3.75s ease-out;
		transition: opacity 3.75s ease-out;
	}

	.Wine.is-animated .WineShowMoreIcon {
		opacity: 0;
		-webkit-transition: opacity 0s;
		-moz-transition: opacity 0s;
		-ms-transition: opacity 0s;
		-o-transition: opacity 0s;
		transition: opacity 0s;
	}

	.WineShowMore-select-area:hover .WineShowMoreIcon {
		-webkit-transition: color .3s;
		-moz-transition: color .3s;
		-ms-transition: color .3s;
		-o-transition: color .3s;
		transition: color .3s;
		color: #ffffff;
	}

	/* Wine Show More Icon icon */

	.WineShowMoreIcon-icon {
		display: none;
		text-align: center;
		font-size: 2.25em;
	}

	/* Wine Show More Icon icon close */

	.Wine.is-expanded .WineShowMoreIcon-icon--close {
		-webkit-align-items: center;
		align-items: center;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}

	/* Wine Show More Icon icon open */

	.WineShowMoreIcon-icon--open {
		display: block;
	}

	.Wine.is-expanded .WineShowMoreIcon-icon--open {
		display: none;
	}

	.WineShowMoreIcon-icon--close span {
		margin: 0 -3px 0 0; /* Ajust icon position */
	}

	.WineShowMoreIcon-icon--open span {
		margin: 0 3px 0 0; /* Ajust icon position */
	}

}

@media (min-width: 48em) and (max-width: 60em) and (min-height: 60em) {

	/* Wine Show More */

	.Wine.is-expanded .WineShowMore {
		right: 50%; /* Location */
	}

}

@media (min-width: 60em) {

	/* Wine Show More */

	.Wine.is-expanded .WineShowMore {
		right: 66.666666666%; /* Location */
	}

}

@media (min-width: 96em) {

	/* Wine Show More */

	.WineShowMore {
		padding: 0 0 3em; /* Location */
		margin: 0 2.25em 0 0; /* Location */
	}

	.Wine.is-expanded .WineShowMore {
		margin: 0 -3.75em 0 0; /* Size - a little minor size */
	}

	/* Wine Show More select area */
    
    .WineShowMore-select-area {
	    height: 4.5em;
	    width: 4.5em;
    }

	/* Wine Show More Title */

	.WineShowMoreTitle {
		padding: 0 1em 0 0;
	}

	/* Wine Show More Title text */

	.WineShowMoreTitle-text {
		font-size: .875em;
		letter-spacing: -.375pt;
	}

}